/******************************************/
/* CSS powered by clock - www.clock.co.uk */
/******************************************/

/**
 * Global Styles
 */

html {
	background-image: url("../image/background.jpg");
	background-color: #000000;
}

body {
	background-image: url("../image/header.png");
	background-position: 0px 0px;
	background-repeat: repeat-x;
}


/**
 * Styles for generic HTML elements
 */

a {
	color: #0A8EEB;
}

em {
	text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
	color: #FFFFFF;
	font-style: italic;
}

::-moz-selection {
	background-color: #0A8EEB;
}

::selection {
	background-color: #0A8EEB;
}

a::-moz-selection {
	background-color: #333333;
}

a::selection {
	background-color: #333333;
}

h1 {
	font-size: 18px;
	margin-bottom: 10px;
}

h2 {
	font-size: 22px;
}

address {
	line-height: 1.4em;
	margin-bottom: 20px;
}

/* Within The Main Content... */

/* h1 */

#main-content h1 {
	text-indent: -9999em;
	height: 0px;
	margin-bottom: 0px;
}

/* h2 */

#main-content h2 {
	text-align: center;
	margin-bottom: 25px;
	text-shadow: 0px 0px 3px rgba(0,0,0,1);
}

#main-content h2 a {
}

/* h3 */

#main-content h3 {
	font-size: 16px;
	margin-bottom: 15px;
}

/* h4 */

#main-content h4 {
	line-height: 1.3em;
	font-size: 14px;
	margin-bottom: 15px;
	text-shadow: 0px 1px 3px rgba(153,153,153,0.5);
}

#main-content h4:hover {
	text-shadow: 0px 1px 3px rgba(10,142,235,0.9);
}

/* p, ul, li,  */

#main-content p {
	color: #DFDFDF;
	margin-bottom: 15px;
	line-height: 1.5em;
}

#main-content ul {
	margin-bottom: 15px;
}

#main-content li {
	margin-bottom: 3px;
	line-height: 1.4em;
	list-style: disc;
	list-style-position: inside;
}


/**
 * Header
 */

#main-header {
}

#main-header h1,
#main-header h2 {
	text-indent: -9999px;
}

#main-header h1 a {
	width: 178px;
	height: 68px;
	display: block;
	margin: 30px 0px 32px 0px;
	background-image: url("../image/logo.png");
	background-repeat: no-repeat;
}

#main-header h2 {
	height: 0px;
}


/**
 * Main Navigation
 */

#navigation {
}

#navigation ul {
}

#navigation li {
	float: left;
	display: inline;
	margin: 0px 15px 0px 15px;
}

#navigation a {
	color: #FFFFFF;
	display: block;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	height: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation a:hover {
	color: #0A8EEB;
}

/**
 * Main Content
 */

#main-content {
}


/**
 * Footer
 */

#footer {
	background-image: url("../image/footer.jpg");
}

#footer ul {
	width: 940px;
	margin: 0px auto 0px auto;
	text-align: left;
}

#footer li {
	color: #A1A1A1;
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 30px;
	font-style: italic;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.9)
}

#footer li a {
}


/**
 * Article / Video Styles
 */

#article,
#video {
	margin-bottom: 30px;
}

#video {
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,1);
	box-shadow: 0px 0px 6px rgba(0,0,0,1);
}


/**
 * Related Content Styles
 */

#related-content {
	width: 100%;
}

#related-content div {
	float: left;
	width: 30%;
	margin-right: 5%;
}

#related-content div.last {
	margin-right: 0px;
}

#related-content h2 {
	background-image: url("../image/related.png");
	background-position: 50% 50%;
	background-repeat: repeat-x;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-style: normal;
	text-transform: uppercase;
	height: 14px;
	line-height: 14px
}

#related-content h2 span {
	background-image: url("../image/background.jpg");
	background-color: #000000;
	padding: 0 20px;
}


/**
 * Generic Classes
 */

.image-link {
	display: block;
	margin-bottom: 18px;
}
